a {
    color: currentColor;
    text-decoration: none;
}

address{
    font-style: normal;
}

figure{
    margin: 0;
}

ul{
    padding-left: 15px;

}

.main-header{
    background-color: dodgerblue;
    background-image: url("../img/img/pattern.png");
    background-size: contain;
}

.logo-header{
    width: 10%;
    height: auto;
    text-align: left;
    padding-top: 2%;
    padding-left: 5%;
}

.h1{
    margin-bottom: 0%;
}

.autore-articolo{
    text-align: left;
    color: grey;
    font-size: 18px;
    margin-bottom: 1%;
}

/* selettore più complesso classe madre "autore" e seleziono il tag figlio "time" */

.autore-articolo time {
 font-size: 14px;
}

.autore-articolo a {
    color: dodgerblue;
    font-weight: bold;
   }

main{
    padding-left: 5%;
    padding-right: 5%;
}

.paragrafo-main{
    text-align: justify;
}

.tabella{
    width: 100%;
    border: 5px solid transparent;
    border-collapse: collapse;
}

.w-25{
    width: 25%;
}

.w-50{
    width: 50%;
}

th{
    background-color: rgb(72, 203, 247);
    color: white;
    text-align: left;

}

.bg-acqua{
    background-color: aqua ;
}


footer{
    padding-left: 5%;
    padding-right: 5%;
    width: 200px;
    height: 150px
}


.related-post{
    color: white;
    background-color: black;
}

.rect{
    width: 200px;
    height: 150px;
}