header{
    background-color: rgb(97, 158, 238);
    background-image: url("../img/img/pattern.png");
    background-size: contain;
}

#immagine-header{
    width: 10%;
    height: auto;
    text-align: left;
    padding-top: 2%;
    padding-left: 5%;
}

h1{
    margin-bottom: 0%;
}

#autore-articolo{
    text-align: left;
    color: grey;
    margin-top: 0%;
}

#data{
    font-size: smaller;
    margin-top: 0%;
}

#descrizione-foto{
    font-size: smaller;
}

main{
    padding-left: 5%;
    padding-right: 5%;
}

.paragrafo-main{
    text-align: justify;
}

#lista{
    padding-left: 1%;
}

th{
    background-color: rgb(72, 203, 247);
    border: 5px solid transparent;
    border-collapse: collapse;

}

.rigatabellagenerico{
    background-color: rgb(175, 222, 238);
}


footer{
    padding-left: 5%;
    padding-right: 5%;
}


#foot-titoteletto{
    color: gray;
    font-weight: bold;
}

.img-footer{
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
}